@import "bootstrap-sprockets";
@import "bootstrap";
//@import "font-awesome-sprockets";
//@import "font-awesome";
@import url("http://fonts.googleapis.com/css?family=Lato");

body {
	width: auto;
	margin: auto;
	padding-top: 70px;
}

.scale-line {
  position: absolute;
}

.page-header {

	text-align: center
}
#youtubeVideo {
	position: relative;
	text-align: right;
}

td {
	text-align: center;
	hieght: 40px;
	font-size: 13px;
}


.tabContent {
	display: none;
}
.ol-scale-line {
  position: relative;
}

.map {
	width: 100%;
	
}



img {
	width: 70%;
	height: 70%;
	position: relative;
}

.hotspot {
	max-width: 10px;
    height: 15px;
}