<!DOCTYPE html>
<html>
	<%= stylesheet_link_tag("custom", "ol") %>
	<body>
		<div class="container">
			<div id="map" class="map">
				<div id="hotspot">
				</div>
			</div>
			<div id="scale-line" class="scale-line">
			</div>	
		</div>
	</body>
</html>

