<!DOCTYPE html>
<html>
  <head>
    <title>Wifi4j</title>
    <%= csrf_meta_tags %>
	
	<script src="https://use.fontawesome.com/f951cb6e1b.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
